@model Reservation

@{
    ViewData["Title"] = "Twoje rezerwacje";
    int i = 1;

    <div>
        <a type="button" class="btn btn-primary" asp-action="Sort" asp-controller="Reservation" asp-route-id="ByBegin">Sortuj po zameldowaniu</a>
        <a type="button" class="btn btn-primary" asp-action="Sort" asp-controller="Reservation" asp-route-id="ByEnd">Sortuj po wymeldowaniu</a>
        <a type="button" class="btn btn-primary" asp-action="Sort" asp-controller="Reservation" asp-route-id="ByReser">Sortuj po emailu</a>
    </div>

    @if (ViewBag.Reservations != null)
    {
        <table class="table m-3">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ID Rezerwacji</th>
                    <th scope="col">Email</th>
                    <th scope="col">Zameldowanie</th>
                    <th scope="col">Wymeldowanie</th>
                    <th scope="col">Edycja</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var reservation in ViewBag.Reservations)
                {
                    <tr>
                        <th scope="row">@i</th>
                        <td>@reservation.Id</td>
                        <td>@reservation.Email</td>
                        <td>@reservation.begin</td>
                        <td>@reservation.end</td> 
                        <td>
                            <a class="btn btn-danger" asp-controller="Reservation" asp-action="Delete" asp-route-id="@reservation.Id">Usuń</a>
                            <a class="btn btn-primary" asp-controller="Reservation" asp-action="Edit" asp-route-id="@reservation.Id">Edytuj</a>
                        </td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    }
}
